<div class="container">
  <div class="jumbotron">

		<p>
		  <strong>Name:</strong>
		  <%= @tool.name %>
		</p>

		<div class="text-center">
			<%= link_to 'Edit', edit_tool_path(@tool) %> |
			<%= link_to 'Back', tools_path %>
		</div>
	</div>
</div>
