<div class="container">
  <div class="jumbotron">
  	<h3>New Position</h3>

		<%= render 'form', position: @position %>

		<div class="text-center">
			<%= link_to 'Back', positions_path %>
		</div>
	</div>
</div>