<div class="container">
  <div class="jumbotron">
  	<h3>Editing Fundamental</h3>

		<%= render 'form', fundamental: @fundamental %>

		<div class="text-center">
			<%= link_to 'Show', @fundamental %> |
			<%= link_to 'Back', fundamentals_path %>
		</div>
	</div>
</div>
