<div class="container">
  <div class="jumbotron">
  	<h3>Editing Definition</h3>

		<%= render 'form', glossary: @glossary %>

		<div class="text-center">
			<%= link_to 'Show', @glossary %> |
			<%= link_to 'Back', glossaries_path %>
		</div>
	</div>
</div>