<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h3>New Defense</h3>
		</div>

		<br />

		<%= render 'form', defense: @defense %>

		<br />

		<p class="center">
			<%= link_to 'Back to the Playbook', defenses_path %>
		</p>
	
	</div>
</div>