<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h3>Create a New User</h3>
			
			</br>

			<%= render 'form' %>
			
			</br>

			<p class="center">
				<%= link_to 'Back', users_path %>
			</p>
		</div>	
	</div>
</div>
