<div class="container">
	<div class="card text-white border-light bg-dark mb-3 page-card" id="eo">
	  <div class="card-body">
	    <h3 class="card-title">The 'EO' Way</h3>
	    <p class="card-text">"In the winter, the lone wolf dies, but the pack survives."</p>
			<p class="card-text">"The strength of the team is the player, and the strength of the player is the team."</p>
	  </div>
	</div>
</div>	