<div class="container">
	<div class="jumbotron">
    <h3><strong>The 'EO' Way</strong></h3>
    <p>"In the winter, the lone wolf dies, but the pack survives."</p>
		<p>"The strength of the team is the player, and the strength of the player is the team."</p>
	</div>
</div>	