<div class="container">
	<div class="jumbotron">
    <h3><strong>The 'EO' Way</strong></h3>
		<p>"The strength of the team is the player, and the strength of the player is the team."</p>
		<p>EO, an acronym that stands for Each Other, embodies all that we should strive to teach our boys as athletes, sons and young men.  Instilling in our teams the relentless passion to compete for everyone but yourself, the selfless desire for teammates, friends and family to achieve successes in life first and foremost, the understanding that one’s true worth should be measured by their commitment to one’s self last...that is EO.  Never underestimate the impact and power that EO emboldens teams with, the strength EO can empower boys with to overcome individual and team adversity, and the positive results on and off the field that EO can produce in every player’s life.  We are an EO culture at PLC.</p>
		<p>"In the winter, the lone wolf dies, but the pack survives."</p>
	</div>
</div>	