<div class="container">
	<div class="jumbotron">
		<h1><strong>Welcome to the PLC Coaches' Curriculum</strong></h1>
		<p>This tool is designed to standardize instruction across the PLC family.  It allows PLC coaches to use the same terms and teach the same skills, regardless of age group, experience, or skill level.  It provides a roadmap to growth for our players and ensures continued success at all levels.<p>

		<p>This tool allows our coaches to share drills, teaching methods, and other best practices across the organization.</p>
	</div>
</div>	