<div class="container">
	<div class="jumbotron" id="tenets">
		<h3><strong>Tenets of PLC Lacrosse</strong></h3>
		<p>The ideas set forth below set a basis for everything we do here, at all levels.  These concepts flow through all teaching mechanics, drills, plays, and techniques described in this curriculum.</p>
		<h6><strong>Click on the concepts below to read more:</strong></h6>
		<div id="accordion" role="tablist">
		  <div class="card">
		    <div class="card-header" role="tab" id="headingOne">
		      <h5 class="mb-0">
		        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		          Fundamentals
		        </a>
		      </h5>
		    </div>
		    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
		      <div class="card-body">
		        <ul>
		        	Communicate!
		        		<ul>
		        			<li>We talk on both ends of the field</li>
									<li>On offense, we call “One more” when we want the ball, we announce when the slide is coming.  We echo the offense that we are in, and we help our teammates run it when they are not in the right spot.</li>
									<li>On defense, we say, “I’m hot” when we are the first slide, and “I’m your two” when we are the second slide.  When we are on ball, we say “I’m out”, and when we are off-ball, we say, “I’m in”.  Players that are “in” communicate their location relative to the ball carrier and “hot” guy.  As the slide occurs, communicate whether to stay on the double team or release/“look away” off ball.  Tell the recovering defender who to go to.</li>
									<li>Our goalies communicate where the ball is, who is hot, and who is the second slide.  They call, “Check” when a ball is fed inside.  At the higher levels, our goalies dictate defenses and when to initiate contact/where to send dodgers.  When possible, they call out hands.</li>
		        		</ul>
		        	Pass, Catch, Cradle - <strong><underline>Fundamental</underline></strong>. Limit easy turnovers.
			        	<ul>
			        		<li>Ball possession is the key to victory at all levels.</li>
			        		<li>Focus on keeping the head of the stick by the ear.</li>
									<li>Throw passes overhand and to the box.</li>
									<li>Use correct hand position</li>
									<li>Understand different cradles and when to use them</li>
			        	</ul>
		        	Scoop - First time groundballs
		        		<ul>
		        			<li>Groundballs win games.  We will scoop through, pick up groundballs on the first try, and move the ball within two steps.</li>
		        		</ul>
		      			Game awareness
		        		<ul>
		        			<li>Understand the situation.  Know where you need to be and anticipate what is going to happen next.</li>
		        			<li>Be creative. Have fun.</li>
		        		</ul>
		        </ul>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingTwo">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Offense
		        </a>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
		      <div class="card-body">
		        <ul>
			        Move off ball – It is imperative that we move off ball, whether it is cutting, setting picks, or just getting out of the way of the ball carrier  
			        	<ul>
									<li>If someone is dodging in your direction, you MUST get out of their way</li>
									<li>“If I catch you watching on the field, you will find yourself watching from the sideline.”</li>
								</ul>
							Be a fundamental shooter – Change planes.  Have a preference for high to low shots.  Shoot hard for corners
								<ul>
									<li>Shoot the ball if your hands are free inside of 8 yards</li>
									<li>It’s ok to miss a shot.  We will back it up and get the ball back.  It is not ok to give up an easy save.</li>
								</ul>
							Value Possession – Do not force skip/crease passes
								<ul>
									<li>If it’s not WIDE open, it’s not open</li>
									<li>All of our offenses are designed to be run over and over.  If you think it might be open this time, it will be WAY open if we keep running through the offense</li>
								</ul>
							Play fast/Move the ball – Catch the ball ready to shoot, feed, or dodge.  
								<ul>
									<li>Have an idea what you want to do when you catch the ball.</li>
									<li>We very seldom need to carry the ball anywhere.  Do not let the ball die in your stick.</li>
								</ul>
						</ul>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingThree">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Defense
		        </a>
		      </h5>
		    </div>
		    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
		      <div class="card-body">
		        <ul>
		        	Play with hands and feet
								<ul>
									<li>We do not chase sticks or give up position to throw takeaway checks.</li>
								</ul>
							Protect the paint
								<ul>
									<li>We do NOT allow ball carriers to sweep across the middle of the field or beat us top side.  We force ball carriers down the alley, into the crease, or away from the goal.   We force shooters to take low angle shots.</li>
								</ul> 
							Take away strong hands
								<ul>
									<li>Whenever possible, we shade to a player’s strong hand, forcing him to use his weak hand.  We do not let him roll back to his strength.</li>
								</ul>
							Anticipate and take care of the “free double”
								<ul>
									<li>Be ready to jump a player who runs between his teammate and the goal, or when the other team is substituting.</li>
								</ul>
		        </ul>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingFour">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		          Riding
		        </a>
		      </h5>
		    </div>
		    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
		      <div class="card-body">
		        <ul>
		        	Communicate!
							NEVER slide upfield
							Ride with our feet and hands
								<ul>
									<li>Do not chase sticks or throw one-handed checks</li>
								</ul>
							Middies and Attackmen keep players in front of them
							Defensemen stay ball side of their man
							Any time a midfielder starts with the ball, our attackmen MUST double the ball
								<ul>
									<li>When he gives it up, one leaves to ride, one stays with the midfielder</li>
								</ul>
							Force the other team to clear with their goalie and poles
								<ul>
									<li>Deny the ball to their middies</li>
									<li>If a middie cuts down to get the ball, we must communicate to allow our attackmen deny him.</li>
								</ul>
		        </ul>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingFive">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		          Clearing
		        </a>
		      </h5>
		    </div>
		    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
		      <div class="card-body">
		        <ul>
		        	Use the numbers advantage on the defensive side of the midfield line.
							Get the ball to a short stick quickly.
								<ul>
									<li>He must be ready to run by a single riding player.</li>
									<li>If he gets double teamed, move the ball.</li>
									<li>The far side middie always has on-sides responsibility.</li>
								</ul>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>