<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h3>Editing Offense</h3>
		</div>
		</br>

		<%= render 'form', offense: @offense %>

		</br>

		<p class="center">
			<%= link_to 'Show', @offense %> |
			<%= link_to 'Back to the Playbook', offenses_path %>
		</p>
	</div>
</div>