<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h3>Editing Drill</h3>

			</br>

			<%= render 'form', drill: @drill %>

			</br>

			<p class="center">
				<%= link_to 'Show', @drill %> |
				<%= link_to 'Back', drills_path %>
			</p>
		</div>
	</div>
</div>
