<div class="container">
	<div class="row">
		<div class="col text-left">
			<%= link_to "Powered by Third Law Studios", "http://www.thirdlawstudios.com", target: "_blank" %>
		</div>
		<div class="col text-right">
			<p class="text-white">&copy; Third Law Studios | 2017</span></p>
		<div class="col-xs-6">
	</div>
</div>